extends layout

block content

  .line-row(onclick='location.href="/home"'  )
    //.id
    //  b id:
    //  span #{user.id}
    //.postId
    //  b postId:
    //  span #{user.postId}
    .name
      b name
        span #{user.name}
    .email
      b email:
      span #{user.email}
    .body
      b body:
      span #{user.body}



