extends layout

block content
  h1= page
  -
  each item in title
    .line-row
      .id
        b id:
        span #{item.id}
      .postId
        b postId:
        span #{item.postId}
      .email
        b email:
        span #{item.email}
      .body
        b body:
        span #{item.body}

  //.line-row
  //  .postId
  //    b postId:
  //    | #{title[0].postId}
  //  .id
  //    b id:
  //    | #{title[0].id}
  //  .email
  //    b email:
  //    | #{title[0].email}
  //  .body
  //    b body:
  //    | #{title[0].body}

