extends layout

block content
  h1= title

  each item in page
    - var url = title + '/'+ item.id;
    a.line-row(href= url)
      .name
        b name:
        span #{item.name}
      .id
        b id:
        span #{item.id}
      .postId
        b postId:
        span #{item.postId}
      .email
        b email:
        span #{item.email}
      .body
        b body:
        span #{item.body}